@model DeliverEat.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.DomicilioEntrega.Descripcion)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.DomicilioRecogida.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraDeEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraDeEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
</p>
